# Ignore Firebase config file (generated in GitHub Actions)
firebase-config.json

# Ignore environment variable files
.env
.env.local
.env.production
.env.development

# Ignore system files
.DS_Store
node_modules/
dist/
.vscode/
